<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link href="__PUBLIC__/fourier/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="__PUBLIC__/fourier/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<script src="__PUBLIC__/fourier/js/jquery-1.11.1.min.js"></script>
<script src="__PUBLIC__/fourier/js/bootstrap.js"></script>
<link href='http://fonts.useso.com/css?family=Damion' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.useso.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
</head>
<body>
<!--header-->
	<div class="header head-top">
		<div class="container">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>				  
						<div class="navbar-brand">
					<br/>
							<h2><a href="<{:U('admin/index')}>" style="color:#ffffff">Neo-Image</a></h2>
						</div>
					</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li><a href="index.html">主页 <span class="sr-only">(current)</span></a></li>
							<li class="active"><a href="about.html">关于我们</a></li>
							<li><a href="index.html">潮流造型</a></li>
								<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">潮流造型<span class="caret"></span></a>
									<ul class="dropdown-menu">
										<li><a href="gallery1.html">我们自己的造型</a></li>
										<li><a href="gallery2.html">店长打造的造型</a></li>
										<li><a href="gallery3.html">总监打造的造型</a></li>
									</ul>
								</li>
							<li><a href="recent.html">沙龙动态</a></li>
							<li><a href="contact.html">留言板</a></li>
						</ul>
								  
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
			
		</div>
	</div>
<!--header-->
			<!--content-->
				<div class="content">
				<!--about-->
					<div class="about-section">
						<div class="container">
							<h2><span>我们的</span> Neo-Image</h2>
								<div class="about-grids">
									<div class="col-md-4 about-grid1">
										<img src="__PUBLIC__/fourier/images/g8.jpg" class="img-responsive" alt="/">
									</div>
									<div class="col-md-8 about-grid">
										<h5>我们的Neo-Image是由我们的店长胡熙雨、创意总监王晶、技术总监凌健雯、艺术总监刘健联合打造的。我们是一家文艺的不要不要的发型屋，我们诞生于2016年7月，位于学术气息浓重的北邮，集合了经验丰富、有敏锐时尚触觉的造型师！创意染发，营养烫发是我们的核心技术，做到绚丽色彩，质感卷发的同时保护好发质！我们立志区别于传统销售型美发店，只专注于潮流 的引领，技术的研发，让你在一大片工科男女中脱引而出。</p>		
									</div>
									<div class="clearfix"></div>
								</div>
						</div>
					</div>
					<!--about-->
					<div class="cooking">
						<div class="container">
							<div class="cooking-grids">
								<div class="col-md-4 cook-grid">
									<div class="cook1">
										<h3>我们的宗旨 </h3>
										<p>我们的造型坊时刻保持着以下5点宗旨：</p>
										<ul>
											<li><a href="#">顾客是上帝</a></li>
											<li><a href="#">时刻面带微笑</a></li>
											<li><a href="#">使用最好的染剂</a></li>
											<li><a href="#">设计独特的造型</a></li>
											<li><a href="#">最终让你脱引而出</a></li>
		     							</ul>
									</div>	
								</div>
								<div class="col-md-4 cook-grid">
									<div class="cook2">
										<h3>优惠</h3>
										<p>我们会在各种节日和特殊的日子为会员提供优惠活动：</p>
										<ul>
											<li><a href="#">生日时提供全免优惠</a></li>
											<li><a href="#">情人节和你的另一半来做情侣造型，一人免费</a></li>
											<li><a href="#">其他节日组团（二人及以上、不要求全是会员）来做造型，每人享有五折优惠</a></li>
										</ul>
									</div>						
								</div>
								<div class="col-md-4 cook-grid">
									<div class="cook3">
										<h3>项目详情</h3>
										<p>只有你想不到没有我们做不到</p>
										<ul>
											<li><a href="#">赠送！染发两人同行一人免单</a></li>
											<li><a href="#">染发超值送</a></li>
											<li><a href="#">剪发项目赠送护理加造型</a></li>
											<li><a href="#">染发体验活动</a></li>
										</ul>
									</div>	
								</div>
							</div>
						</div>
					</div>
						<!--staff-->
							<div class="staff-section">
								<div class="container">
									<h3><span>我们的</span> 团队</h3>
									<ul class="ch-grid">
										<li>
											<div class="ch-item">				
												<div class="ch-info">
													<div class="ch-info-front ch-img-1"></div>
													<div class="ch-info-back">
															<h4>店长</h4>
														<p>胡熙雨 </p>
													</div>	
												</div>
											</div>
										</li>
										<li>
											<div class="ch-item">
												<div class="ch-info">
													<div class="ch-info-front ch-img-2"></div>
													<div class="ch-info-back">
															<h4>创意总监</h4>
														<p>王晶</p>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="ch-item">
												<div class="ch-info">
													<div class="ch-info-front ch-img-3"></div>
													<div class="ch-info-back">
															<h4>技术总监</h4>
														<p>凌健雯</p>
													</div>
												</div>
											</div>
										</li>
										 <li>
											<div class="ch-item">
												<div class="ch-info">
													<div class="ch-info-front ch-img-4"></div>
													<div class="ch-info-back">
															<h4>艺术总监</h4>
														<p>刘健</p>
													</div>
												</div>
											</div>
										</li>
									</ul>

								</div>
							</div>
						<!--staff-->
							<!--iteam-->
						<div class="iteam">
							<div class="container">
								<h3><span>造型</span> 图片</h3>
									<div class="items-grids">
										<div class="col-md-4 items-grid">
											<img src="__PUBLIC__/fourier/images/g1.jpg"" class="img-responsive" alt="/">
										</div>
										<div class="col-md-4 items-grid">
											<img src="__PUBLIC__/fourier/images/g2.jpg"" class="img-responsive" alt="/">
										</div>
										<div class="col-md-4 items-grid">
											<img src="__PUBLIC__/fourier/images/g4.jpg"" class="img-responsive" alt="/">
										</div>
										
										<div class="clearfix"></div>
									</div>
							</div>
						</div>
						<!--iteam-->
						<!--our History-->
							<div class="history-section">
								<div class="container">
									<h3><span>我们的</span> 历史</h3>
									<div class="history-grids">
										<div class="col-md-3 history-grid">
											<figure class="icon">
											<i class="glyphicon glyphicon-cutlery"></i>
											</figure>
											<h5>68</h5>
											<h6>已做过的造型</h6>										
										</div>
										<div class="col-md-3 history-grid">
										<figure class="icon">
											 <i class="glyphicon glyphicon-thumbs-up"></i>
											</figure>
											<h5>68</h5>
											<h6>好的评价</h6>										
										</div>
										<div class="col-md-3 history-grid">
										<figure class="icon">
											 <i class="glyphicon glyphicon-flag"></i>
											</figure>
											<h5>不到一年</h5>
											<h6>目前已开店年数</h6>
										</div>
										<div class="col-md-3 history-grid">
											<figure class="icon">
											 <i class="glyphicon glyphicon-user"></i>
											</figure>
											<h5>100%</h5>
											<h6>顾客满意度</h6>
										</div>
										<div class="clearfix"></div>
									</div>
								</div>
							</div>
						<!--our History-->
						<!--footer-->
					<div class="footer-section">
						<div class="container">
							<div class="footer-grids">
								<div class="col-md-3 footer-grid">
									<h4>产品</h4>
									<ul>
										<li>洗发 </li>
										<li>烫发</li>
										<li>染发</li>
										<li>护理</li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>开店时间</h4>
									<ul>
										<li>周一-周二: 关闭</li>
										<li>周三-周五 : 1pm - 11pm</li>
										<li>周六-周日: 8am-11pm</li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>联系方式</h4>
									<ul>
										<li><a href="#">店长QQ</a></li>
										<li><a href="#">店长微信</a></li>
										<li><a href="#">美团</a></li>
										<li><a href="#">大众点评</a></li>
									</ul>
								</div>
								<div class="col-md-3 footer-grid">
									<h4>地址</h4>
									<p>北京市</p>
									<p>海淀区，西土城路，10号，北京邮电大学</p>
									<p>Telephone :18810897275</p>
									<p>E-mail : <a href="mailto:example@mail.com"> example@mail.com</a></p>

								</div>
								<div class="clearfix"></div>
							</div>
						</div>
					</div>
			<!--footer-->	

				</div>
				<!--copy-->
					<div class="copy-section">
						<div class="container">
							<p>制作人:胡熙雨、王晶、凌健雯、刘健</a></p>
						</div>
					</div>
			<!--footer-->	

				</div>
				
				<!--copy-->
</body>
</html>
